@import "tailwindcss";

@keyframes loading {
  0% { width: 0%; }
  50% { width: 70%; }
  100% { width: 100%; }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-slate-700 {
    scrollbar-color: rgb(51 65 85) transparent;
  }
}
